.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-top: 30px;
  font-size: 25px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 200px;
  height: 25px;
  margin: 10px;
  font-size: 20px;
}

.card {
  width: auto;
  min-width: 1000px;
  max-width: 1500px;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  font-size: 20px;
  margin-top: 30px;
}

.list {
  width: auto;
  min-width: 1000px;
  max-width: 1500px;
  height: auto;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  font-size: 20px;
  margin-top: 30px;
}

#updateInput {
  width: 500px;
  height: 300px;
  margin-bottom: 10px;
  font-size: 17px;
}

#butUpdate {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
}

.home, .reports, .products {
  display: flex;
  /* height: 90vh; */
  align-items:  center;
  justify-content: center;
  font-size: 25px;
}

#recomendInput {
  margin-right: 50px;
  margin-left: 10px;
}

#estadoInput {
  margin-right: 50px;
  margin-left: 10px;
}

#aviso {
  color: red;
  font-size: 15px;
}

.campos {
  margin-left: 30px;
  margin-right: 25px;
}
